<template>
    <div>
        <div class="row">
            <router-link to="" class="btn btn-success btn-md">
                All Employee
            </router-link>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="login-form">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Add Employee</h1>
                        </div>
                        <form class="user" @submit.prevent="addEmployee" enctype="multipart/form-data">
                            <!-- Form-Group 1 -->
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control"  v-model="form.name" placeholder="Enter Your Username">
                                        <small class="text-danger" v-if="errors.name"> {{ errors.name[0]}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control"  v-model="form.email" placeholder="Enter Your Email Address">
                                        <small class="text-danger" v-if="errors.email"> {{ errors.email[0]}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <input type="text" class="form-control"  v-model="form.address" placeholder="Enter Your Address">
                                        <small class="text-danger" v-if="errors.address"> {{ errors.address[0]}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"  v-model="form.salary" placeholder="Enter Your Salary">
                                        <small class="text-danger" v-if="errors.salary"> {{ errors.salary[0]}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <input type="date" class="form-control"  v-model="form.date" placeholder="Joining Date">
                                        <small class="text-danger" v-if="errors.date"> {{ errors.date[0]}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"  v-model="form.eid" placeholder="Employee ID">
                                        <small class="text-danger" v-if="errors.eid"> {{ errors.eid[0]}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-8 mx-auto mb-2">
                                        <input type="text" class="form-control"  v-model="form.number" placeholder="Active Phone Number">
                                        <small class="text-danger" v-if="errors.number"> {{ errors.number[0]}}</small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mx-auto mb-2">
                                        <input type="file" class="custom-file-input">
                                        <small class="text-danger" v-if="errors.photo"> {{ errors.photo[0]}}</small>
                                        <label class="custom-file-label">Choose File</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mx-auto">
                                    <img src="form.photo" style=" height: 50%; width: 50%;" alt="Photo Employee">
                                    <div class="div">

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script type="text/javascript">
   export default {

    //Buat session baru, jika user logged in, arahkan ke router dengan nama home
    created(){
      if(!User.loggedIn()) {
        this.$router.push({ name: '/' })
      }
    },
    data(){
      return {
        form:{
          name: null,
          email: null,
          number: null,
          salary: null,
          address: null,
          date: null,
          eid: null,
          photo: null,
        },
        errors: {}
      }
    },
    methods:{
        addEmployee(){

        }
    }
  }

</script>

<style type="tetx/css">

</style>